

<div class="mainscreen ">
    <div class="card" *ngIf="status==false">
      <div class="leftside">
        <img class="product"
        src="https://image.tmdb.org/t/p/original/{{ getMovieDetailResult.poster_path }}" 
        >
      </div>
      <div class="rightside">
        <form  action=""  [formGroup]="depoForm">
          <h1 *ngIf="status==false">Booking Payment Confirmation</h1>

          <h2 *ngIf="status==false">Payment Information</h2>
          <p *ngIf="status==false">Seat Type</p>
          <input *ngIf="status==false" class="inputbox" formControlName="seattype" type="text"  name="email" id="">
          <p *ngIf="status==false">Card Type</p>
          <select *ngIf="status==false" class="inputbox" name="card_type" id="card_type" required>
            <option value="">--Select a Card Type--</option>
            <option value="Visa">Visa</option>
            <option value="RuPay">RuPay</option>
            <option value="MasterCard">MasterCard</option>
          </select>
          <div *ngIf="status==false">
            <p  *ngFor="let t of details3">Ticket Amount 
              ₹{{t.Amount}}</p>
              <input *ngIf="status==false" class="inputbox" formControlName="amount" type="number"  name="email" id="">
  
          </div>


          <button type="submit" class="button" *ngIf="status==false"  (click)="check()"  >Pay and Confirm
          </button>

          

        </form>
      </div>
    </div>
  </div>
  <button type="submit" class="button"  *ngIf="status==true"  [routerLink]="['/tick',getMovieDetailResult.id]" (click)="deposit()" >View Ticket</button>



