

<nav class="navbar navbar-expand-lg ">

    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/main">Home</a>
          </li>
          <li class="nav-item">
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<div class="container">





<figure id="content" #content  class="movie " style="margin-left: 5px;" *ngFor="let t of details">
	<div class="movie__hero">
		<img class="movie__img" src="https://external-preview.redd.it/cg8k976AV52mDvDb5jDVJABPrSZ3tpi1aXhPjgcDTbw.png?auto=webp&s=1c205ba303c1fa0370b813ea83b9e1bddb7215eb" alt="QR code">
	</div>
	<div class="movie__content">
	  <div class="movie__title">
		<h1 class="heading__primary">{{getMovieDetailResult.original_title}}</h1>
		<div class="movie__tag movie__tag--1">{{getMovieDetailResult.genres[2].name}}</div>
		<div class="movie__tag movie__tag--2">{{getMovieDetailResult.genres[1].name}}</div>
	  </div>
	  <p class="movie__description">
		{{getMovieDetailResult.overview}}
	  </p>

	  <div class="movie__details">
		<p class="movie__detail"><span class="icons icons-red"><i class="fas fa-camera-retro"></i> </span>Screen:{{x}}</p>
		<p class="movie__detail" *ngFor="let t of details3"><span class="icons icons-grey"><i class="fas fa-clock"></i> </span >{{t.Time}}</p>
		<p class="movie__detail" *ngFor="let t of details2"><span class="icons icons-grey"><i class="fa fa-calendar"></i> </span >{{t.Date}}</p>
		<p class="movie__detail"><span class="icons icons-yellow"><i class="fas fa-file-invoice-dollar"></i>
		  </span>{{t.seatType}}</p>
	  </div>
    <p class="movie__detail"><span class="icons icons-red"><i class="fa fa-user" aria-hidden="true"></i></span>Ticket Owner :{{user}}</p>

	</div>
	<div class="movie__price" *ngFor="let t of details4">SEAT NO:&nbsp;{{t.Seat}}</div>

  </figure>

  <div style="margin-left: 600px; margin-top: 30px;" ><h1 style="color: black;">
	Ticket has been send to your email<i class="fa fa-check" style="color: green;" aria-hidden="true"></i>
  </h1>
  <h4 style=" color: rgb(0, 0, 0);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ticket was issued on&nbsp;&nbsp;{{sdate|date:'short'}}</h4>

  <button class="btn btn-danger" style="border-radius: 5px; padding: 10px; margin-left: 100px;" (click)="makePDF()">Click to download</button>  
  </div>
